<div >
    
    <div class="upload-container">
        <h1 >OCR</h1>
        <div class="upload-section">
            <Label>Upload Image : </Label>
            <input type="file" multiple value="select" #selectFile name="aadhar-photo" (change)="onFileSelected($event)" ><br><br>
        </div>
    </div>
    <div *ngIf="showPic">

    <div class="flex-container" >
        
        <img *ngFor="let file of pics; let i = index" [src]="file.url" alt="Image">

    </div>
    <div class="submit-container">
        <button (click)="sendImage()">Submit</button>
    </div>
</div>
<div class="form-container">
    <form>
        <span>Comparision Results</span>
        <label>Field 1:</label>
        <input type="text" name="field1">
        <label>Field 2: </label>
        <input type="text" name="field2">
        <label>Field 3: </label>
        <input type="text" name="field3">
    </form>
    </div>

    
    <!-- <div class="container">
        <div class="form-container">
    <form>
        <span>EasyOCR</span>
        <label>Name: </label>
        <input type="text" name="easyName">
        <label>Number: </label>
        <input type="text" name="easyNumber">
        <label>DOB: </label>
        <input type="text" name="easyDob">
        <label>Gender: </label>
        <input type="text" name="easyGender">
        <label>Address: </label>
        <input type="text" name="easyAddress">
    </form>
    </div>
    <div class="form-container">
        <form>
            <span>Something Tech</span>
            <label>Name: </label>
            <input type="text" name="name">
            <label>Number: </label>
            <input type="text" name="number">
            <label>DOB: </label>
            <input type="text" name="dob">
            <label>Gender: </label>
            <input type="text" name="gender">
            <label>Address: </label>
            <input type="text" name="address">     </form>
        </div>
</div> -->
</div>
